<html>
<head>
  <link rel="stylesheet" type="text/css" href="/asset/auth.css"/>
</head>
<body>


    
    <div class="login_div" >
      {{if ne .  "local"}}
          <form action="/authorize/v1/login" method="POST">
        <input type="Submit" value="Login with Google">
        </form>
      {{else}}
        <form method="POST" action="/authorize/v1/register" class="login_form">
        <div class=form_elements>
          <h2>Registration</h2>
          <hr>
          <input type="text" id="user" name="user" placeholder="Username" class="rounded-input">
        
          <input type="text" name="password" placeholder="Password" class="rounded-input" >
          <br/>
          <input class="rounded-input" type="text"  name="email" placeholder="email">
          <br/>
          <input class="rounded-input" type="submit" name="Register" >
        </div>
        </form>
        {{end}}
    </div>
    <br/>

</body>

</html>
