<html>
<body>
    <p>Register Username</p>
    <form method="POST" action="/authorize/v1/register">
    <label>Username</label>
      <input type="text"  name="user">
      <br/>
      <label>password</label>
      <input type="text" name="password" >
      <br/>
      <label>email</label>
      <input type="text"  name="email">
      <br/>
      <input type="submit" name="Register" >
    </form>

</body>

</html>
